p {
    background: lightcoral;
    display: inline;
}


.block-element {
    display: block;
    background: lightcoral;
}
.inline-element {
    display: inline;
    background: lightblue;
}
