* {
    margin: 0;
}
.p-1 {
    background: lightcoral;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.p-2 {
    background: lightcoral;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
